<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6100.0">
	<notifications newPostNotificationTemplateId="bd4f53cb-5110-6902-b20e-ff0000b9088f" newThreadNotificationTemplateId="be4f53cb-5110-6902-b20e-ff0000b9088f" />
</forumsConfig>